@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

:root {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: #FFFFFF;
  background-color: #1E1E1E;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

h1 {
font-family: Poppins;
font-size: 40px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0em;
text-align: left;
text-transform: uppercase;
padding: 32px;
}

input {
  
width: 558px;
height: 48px;
left: 32px;
background: #353535;
border-radius: 12px;
}

.container {
  /* position: absolute; */
  width: 55rem;
  height: 309px;
  top: 84px;
  background: #202020;
  border-radius: 12px;
}