.modal-header {
  background: #333333;
  padding: 10px;
}

.modal-title {
  color: #f9a826 !important;
  font-weight: 700;
}

.modal-footer {
  text-align: center;
  background: #c4bdb3 !important;
  padding: 10px;
}

.modal_footer_link {
  color: #333333;
}

.modal_footer_link:hover {
  color: #ffffff;
}

.sucess label {
  text-align: center;
  display: flex;
  justify-content: center;
}
