.about_section-item {
  column-gap: 3rem;
}

.about_section-item p i {
  color: #27221c;
  font-size: 1.1rem;
}

.object-fit-cover {
  object-fit: cover;
  border-radius: 20%;
  border: solid 35px #d6d5c9;
}

.object-position-right {
  object-position: right;
  max-width: 85%;
}
