.find_cars-left {
  background: linear-gradient(rgba(56, 56, 56, 0.8), rgba(82, 82, 82, 0.5)),
    url("../assets/all-images/toyota-offer-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 35px;
}
.find_cars-left h2 {
  font-weight: 600;
  font-size: 2.8rem;
}

.form_group {
  
  width: 30%;
  margin-bottom: 0;
}

.form_group input {
  width: 100%;
  border: solid 1px #7c8a972a;
  padding: 8px 12px;
}

.form_group input::placeholder {
  color: #7c8a97;
}

.form {
  background: #d6d5c9;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;

}

.select_group {
  width: 30%;
}

.select_group select {
  width: 100%;
  padding: 10px 15px;
  border: solid 1px #7c8a972a;
  color: #7c8a97;
}

.hero__slider-section {
  position: relative;
  z-index: 10;
  margin-bottom: 200px;
}

.hero_form {
  position: absolute;
  bottom: -150px;
  z-index: 11;
  width: 100%;
}

.form_row {
  background: #d6d5c9;
  box-shadow: 5px 5px 15px -5px #7c8a97;
  /* border-radius: 5px; */
}

.journey_time::before {
  content: "Journey time";
  margin-right: 0.8rem;
  color: #7c8a97;
}

.find__car-btn {
  padding: 8px 15px !important;
  width: 100%;
  border: none;
  outline: none;
}
