.service_item span i {
  font-size: 2.5rem;
  color: #554d43;
}

.service_item h6 {
  font-size: 1.6rem;
  font-weight: 600;
}
.service_item h6:hover {
  color: #27221c;
}

.service_icon_title i:hover {
  color: #27221c;
}
